  .chatbox {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .chat-log {
    width: 100%;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .chat-message {
    display: flex;
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    background-color: #5db8b2;
    color: black;
  }
  .chatgpt {
    color: black;
    background-color: rgb(199, 196, 196);
    width: 80%;
    border-radius: 10px;
    padding: 10px;
  }
  .message {
    overflow-wrap: anywhere;
  }